ABOUT-NLS
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.libpath
config.log
config.rpath
config.status
config.sub
configure
depcomp
gl
install-reloc
install-sh
intl
link-warning.h
ltmain.sh
m4
mdate-sh
missing
mkinstalldirs
patches
potfiles.tmp
pref.h
reloc-ldflags
stamp-h1
texinfo.tex
gitlog-to-changelog
*~
*.o
*.lo
*.a
*.dirstamp
*.deps
