ChangeLog
/Makefile
/Makefile.in
/gl/Makefile
/gl/Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.libpath
config.log
config.rpath
config.status
config.sub
configure
depcomp
gl
install-reloc
install-sh
intl
link-warning.h
ltmain.sh
m4
mdate-sh
missing
mkinstalldirs
patches
potfiles.tmp
pref.h
reloc-ldflags
stamp-h1
gitlog-to-changelog
*~
*.o
*.lo
*.a
*.dirstamp
*.deps
*.la
*.libs
/arg-nonnull.h
/c++defs.h
/package.m4
/unused-parameter.h
/warn-on-use.h
*-test
po/*.gmo
utilities/pspp-convert
utilities/pspp-dump-sav
perl-module/Makefile
perl-module/PSPP-Perl-*.tar.gz
perl-module/PSPP.bs
perl-module/PSPP.c
perl-module/blib/
perl-module/const-c.inc
perl-module/const-xs.inc
perl-module/lib/PSPP.pm
perl-module/pm_to_blib
perl-module/pspp-module-config
tests/testsuite.dir/
tests/testsuite.log
tests/atconfig
tests/atlocal
tests/data/inexactify
tests/data/sack
src/ui/gui/include/gtk/gtk.h
